# Kvaliteta življenja v Kibergradu

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

csv_file_path = 'Kibergrad.csv'
df = pd.read_csv(csv_file_path)

In [2]:
df = df.rename(columns={"'TIP'": 'TIP', "'CLANOV'": 'CLANOV', "'OTROK'": 'OTROK', "'DOHODEK'": 'DOHODEK', "'CETRT'": 'CETRT', "'IZOBRAZBA'": 'IZOBRAZBA'})

## Analiza bogatih in revnih

V tabelo bogatih dodamo 1000 najbogatejših družin.

In [3]:
bogati = df[df["DOHODEK"] > df.sort_values("DOHODEK", ascending=False).iloc[1000]["DOHODEK"]]
bogati["DOHODEK"].mean()

156949.927

In [24]:
df

       TIP  CLANOV  OTROK  DOHODEK  CETRT  IZOBRAZBA
0        1       2      0    43450      1         39
1        1       2      0    79000      1         40
2        1       2      0    51306      1         39
3        1       4      2    24850      1         41
4        1       4      2    65145      1         43
...    ...     ...    ...      ...    ...        ...
43881    1       5      3    30800      4         36
43882    1       2      0    16684      4         34
43883    1       2      0    12000      4         39
43884    1       2      0    50022      4         34
43885    1       9      7    21082      4         39

[43886 rows x 6 columns]

V tabelo revnih dodamo 1000 najrevnejših družin.

In [4]:
revni = df[df["DOHODEK"] < df.sort_values("DOHODEK", ascending=False).iloc[-1000]["DOHODEK"]]
revni["DOHODEK"].mean()

414.26452905811624

In [5]:
import math
stand_odk_bogati = math.sqrt(bogati["DOHODEK"].var())
stand_odk_revni = math.sqrt(revni["DOHODEK"].var())
stand_odk_bogati

38230.70630577349

In [6]:
stand_odk_revni

1638.8649441243067

In [7]:
revni["DOHODEK"].max()

2190

Sedaj primerjajmo bogate in revne družine po ostalih parametrih in na podlagi tega postavimo hipoteze o korelacijskem koeficientu med določenimi količinami.

In [8]:
revni["IZOBRAZBA"].mean()

37.833667334669336

In [9]:
bogati["IZOBRAZBA"].mean()

42.648

In [10]:
revni["IZOBRAZBA"].var()

7.655354842081354

In [11]:
bogati["IZOBRAZBA"].var()

6.410506506506506

In [12]:
df["IZOBRAZBA"].min()

31

In [13]:
bogati["IZOBRAZBA"].min()

31

In [14]:
bogati["IZOBRAZBA"].max()

46

In [15]:
revni["IZOBRAZBA"].min()

31

In [16]:
revni["IZOBRAZBA"].max()

45

Opazimo, da morata biti izobrazba in dohodek pozitivno korelirana. Sumimo, da je korelacija nekje 0,3 do 0,4.

In [17]:
bogati["OTROK"].mean()

0.579

In [18]:
revni["OTROK"].mean()

1.2735470941883769

In [19]:
bogati["OTROK"].max()

6

In [20]:
revni["OTROK"].max()

8

Iz zgornjega se zdi, da morata biti število otrok in dohodek negativno korelirana. Korelacijski koeficient bi lahko bil nekje -0,2.

## Preizkus hipotez

In [21]:
df["DOHODEK"].corr(df["IZOBRAZBA"])

0.4499440967870731

In [22]:
df["DOHODEK"].corr(df["OTROK"])

-0.08045934385825014

In [23]:
df.describe()

,TIP,CLANOV,OTROK,DOHODEK,CETRT,IZOBRAZBA
count,43886.000000,43886.000000,43886.000000,43886.000000,43886.000000,43886.000000
mean,1.430935,3.137288,0.947933,41335.507041,2.526090,39.422504
std,0.793332,1.293711,1.157211,32037.619418,1.078228,3.021883
min,1.000000,2.000000,0.000000,-22166.000000,1.000000,31.000000
25%,1.000000,2.000000,0.000000,18300.000000,2.000000,39.000000
50%,1.000000,3.000000,1.000000,34550.000000,3.000000,39.000000
75%,1.000000,4.000000,2.000000,55827.750000,3.000000,41.000000
max,3.000000,25.000000,9.000000,451887.000000,4.000000,46.000000

In [25]:
df[df["CETRT"].isin([1,2])]

       TIP  CLANOV  OTROK  DOHODEK  CETRT  IZOBRAZBA
0        1       2      0    43450      1         39
1        1       2      0    79000      1         40
2        1       2      0    51306      1         39
3        1       4      2    24850      1         41
4        1       4      2    65145      1         43
...    ...     ...    ...      ...    ...        ...
20534    1       2      0    31216      2         39
20535    1       3      0    65002      2         40
20536    1       5      3    70674      2         43
20537    1       3      0    57623      2         40
20538    1       4      2    81169      2         39

[20539 rows x 6 columns]

In [26]:
bogati.describe()

,TIP,CLANOV,OTROK,DOHODEK,CETRT,IZOBRAZBA
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,1.067000,3.313000,0.579000,156949.927000,2.394000,42.648000
std,0.332598,1.363411,0.935218,38230.706306,1.192554,2.531898
min,1.000000,2.000000,0.000000,123908.000000,1.000000,31.000000
25%,1.000000,2.000000,0.000000,133199.500000,1.000000,41.000000
50%,1.000000,3.000000,0.000000,144947.500000,2.000000,43.000000
75%,1.000000,4.000000,1.000000,166386.750000,4.000000,44.000000
max,3.000000,11.000000,6.000000,451887.000000,4.000000,46.000000