# Kvaliteta življenja v Kibergradu

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

csv_file_path = 'Kibergrad.csv'
df = pd.read_csv(csv_file_path)

In [3]:
df = df.rename(columns={"'TIP'": 'TIP', "'CLANOV'": 'CLANOV', "'OTROK'": 'OTROK', "'DOHODEK'": 'DOHODEK', "'CETRT'": 'CETRT', "'IZOBRAZBA'": 'IZOBRAZBA'})

## Analiza bogatih in revnih

V tabelo bogatih dodamo 1000 najbogatejših družin.

In [4]:
bogati = df[df["DOHODEK"] > df.sort_values("DOHODEK", ascending=False).iloc[1000]["DOHODEK"]]
bogati["DOHODEK"].mean()

156949.927

V tabelo revnih dodamo 1000 najrevnejših družin.

In [5]:
revni = df[df["DOHODEK"] < df.sort_values("DOHODEK", ascending=False).iloc[-1000]["DOHODEK"]]
revni["DOHODEK"].mean()

414.26452905811624

In [6]:
import math
stand_odk_bogati = math.sqrt(bogati["DOHODEK"].var())
stand_odk_revni = math.sqrt(revni["DOHODEK"].var())
stand_odk_bogati

38230.70630577349

In [7]:
stand_odk_revni

1638.8649441243067

In [8]:
revni["DOHODEK"].max()

2190

Sedaj primerjajmo bogate in revne družine po ostalih parametrih in na podlagi tega postavimo hipoteze o korelacijskem koeficientu med določenimi količinami.

In [9]:
revni["IZOBRAZBA"].mean()

37.833667334669336

In [10]:
bogati["IZOBRAZBA"].mean()

42.648

In [11]:
revni["IZOBRAZBA"].var()

7.655354842081354

In [12]:
bogati["IZOBRAZBA"].var()

6.410506506506506

In [16]:
df["IZOBRAZBA"].min()

31

In [17]:
bogati["IZOBRAZBA"].min()

31

In [18]:
bogati["IZOBRAZBA"].max()

46

In [19]:
revni["IZOBRAZBA"].min()

31

In [20]:
revni["IZOBRAZBA"].max()

45

Opazimo, da morata biti izobrazba in dohodek pozitivno korelirana. Sumimo, da je korelacija nekje 0,3 do 0,4.

In [21]:
bogati["OTROK"].mean()

0.579

In [22]:
revni["OTROK"].mean()

1.2735470941883769

In [23]:
bogati["OTROK"].max()

6

In [24]:
revni["OTROK"].max()

8

Iz zgornjega se zdi, da morata biti število otrok in dohodek negativno korelirana. Korelacijski koeficient bi lahko bil nekje -0,2.

## Preizkus hipotez

In [25]:
df["DOHODEK"].corr(df["IZOBRAZBA"])

0.4499440967870731

In [26]:
df["DOHODEK"].corr(df["OTROK"])

-0.08045934385825014

In [31]:
df.describe()

,TIP,CLANOV,OTROK,DOHODEK,CETRT,IZOBRAZBA
count,43886.000000,43886.000000,43886.000000,43886.000000,43886.000000,43886.000000
mean,1.430935,3.137288,0.947933,41335.507041,2.526090,39.422504
std,0.793332,1.293711,1.157211,32037.619418,1.078228,3.021883
min,1.000000,2.000000,0.000000,-22166.000000,1.000000,31.000000
25%,1.000000,2.000000,0.000000,18300.000000,2.000000,39.000000
50%,1.000000,3.000000,1.000000,34550.000000,3.000000,39.000000
75%,1.000000,4.000000,2.000000,55827.750000,3.000000,41.000000
max,3.000000,25.000000,9.000000,451887.000000,4.000000,46.000000